<div class="bg-indigo-900 w-full rounded-lg font-[sans-serif] overflow-hidden w-full mx-auto">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 items-center text-white">
        <div class="lg:col-span-2 p-10">
            <h1 class="text-3xl font-bold">Welcome, {{name}}</h1>
            <p class="mt-4 text-sm leading-relaxed silkscreen-regular">with NPM {{npm}} from {{class}}</p>
            <div class="flex mt-4">
                <a href="{% url 'main:create_product_entry' %}" class="btn bg-indigo-400 hover:bg-indigo-600 text-white font-bold py-2 px-4 mr-2 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                  Add New Product
                </a>
                <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="btn bg-indigo-400 hover:bg-indigo-600 text-white font-bold py-2 px-4 mr-2 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" onclick="showModal();">
                  Add New Product Entry by AJAX
                </button>
            </div>
        </div>
    </div>
</div>