{% extends 'base.html' %} 
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{application}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="create-product-entry">Add Product</a></li>
    </ul>
  </div>
</nav>
<h1>Add New Product</h1>

<form method="POST">
  {% csrf_token %}
  <table class="table">
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Add Product" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}