{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{application}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="create-product-entry">Add Product</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid"></div>
  <p>Welcome, {{name}}</p> 
  <p>From Class {{class}}</p>   
</div>

<div>
{% if not product_entries %}
<p>Belum ada data produk.</p>
{% else %}
<table>
    <tr>
      <th>Product Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Ratings</th>
      <th>Time Ordered</th>
    </tr>

    {% for product_entry in product_entries %}
    <tr>
      <td>{{product_entry.name}}</td>
      <td>Rp.{{product_entry.price}}</td>
      <td>{{product_entry.description}}</td>
      <td>{{product_entry.tags}}</td>
      <td>{{product_entry.ratings}} Stars</td>
      <td>{{product_entry.time}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <br />
</div>

<div>
    <button>Add New Product</button>
  </a>
  
  
  <h5>Sesi terakhir login: {{ last_login }}</h5>
  <br />
  <a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>
</div>


{% endblock content %}