{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Raringo</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}

<div class="flex flex-col min-h-screen bg-gray-100">
  <div class="container mx-auto px-4 py-4 mt-16 max-w-screen">
    <div class="container-fluid">
      {% include "card_info.html" with name=name npm=npm class=class %}   
    </div>
    <br>
    <div class="overflow-x-auto">
      {% if not product_entries %}
      <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
          <p class="text-center text-gray-600 mt-4">Belum ada produk terdaftar.</p>
      </div>
      {% else %}
      <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
          {% for product_entry in product_entries %}
              {% include 'card_product.html' with product_entry=product_entry %}
          {% endfor %}
      </div>
      {% endif %}
    </div>

    

    <div class="mt-4">      
      <h5>Sesi terakhir login: {{ last_login }}</h5>
      <br />
    </div>
  </div>
</div>

{% endblock content %}